* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}


header {
    background-color: #6c6faf;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 4px solid #575a95;
}

header h1 {
    font-size: 2rem;
    margin: 0;
}


main {
    padding: 20px;
}

div {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

div h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #575a95;
    text-align: center;
}

div p,
div ul {
    font-size: 1rem;
    color: #555;
    text-align: center;
}

div ul {
    list-style: none;
    padding-left: 0;
}

div ul li {
    margin-bottom: 10px;
}

div.image img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #6c6faf;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
    border-top: 4px solid #575a95;
    position: relative;
}